## Version 2026/02/08 - Changelog: https://github.com/linuxserver/docker-budge/commits/main/root/defaults/nginx/site-confs/default.conf.sample

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    listen 443 quic reuseport default_server;
    listen [::]:443 quic reuseport default_server;

    server_name _;

    include /config/nginx/ssl.conf;

    root /app/www/public/frontend/build;
    index index.html;

    location / {
        # enable for basic auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        rewrite /foo/(.*) /$1 break;
        proxy_set_header Upgrade $http_upgrade;
        proxy_pass http://localhost:5000/;
    }

    # deny access to all dotfiles
    location ~ /\. {
        deny all;
        log_not_found off;
        access_log off;
        return 404;
    }

    # Allow access to the ".well-known" directory
    location ^~ /.well-known {
        allow all;
    }
}
