## Version 2024/06/06 - Changelog: https://github.com/linuxserver/docker-budge/commits/main/root/defaults/nginx/site-confs/default.conf.sample

server {
    listen *:80 default_server;
    listen *:443 ssl default_server;

    server_name _;

    include /config/nginx/ssl.conf;

    root /app/www/public/frontend/build;
    index index.html;

    location / {
        # enable for basic auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        rewrite /foo/(.*) /$1  break;
        proxy_set_header Upgrade $http_upgrade;
        proxy_pass http://localhost:5000/;
    }

    # deny access to .htaccess/.htpasswd files
    location ~ /\.ht {
        deny all;
    }
}
